/node_modules
/public/hot
/public/storage
/public/.well-known
/public/frontend
/public/static
/public/build
/storage/*.key
/storage/app/public/*
!/storage/app/public/socialmedia
/vendor
setup.lock
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
